@font-face {
    font-family: Poppins;
    src: url(../fonts/Poppins-BlackItalic.ttf),url(../fonts/Poppins-Black.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* <!-- header start 1. --> */

    /* <!-- header end  --> */
/* <!-- ============================================= --> */
    /* <!-- logo google start --> */

    /* <!-- logo google end --> */
/* <!-- ============================================== --> */
    /* <!-- Assisting start --> */

    /* <!-- Assisting end --> */
/* <!-- ============================================ --> */
    /* <!-- Latest start --> */

    /* <!-- Latest end --> */
/* <!-- ================================================ --> */
    /* <!-- Donec porttitor start--> */

    /* <!-- Donec porttitor end --> */
/* <!--==================================================  --> */
    /* <!-- Neighborhood start --> */

    /* <!-- Neighborhood end--> */
/* <!--====================================================  --> */
    /* <!-- Our Team start --> */

    /* <!-- Our Team end --> */
/* <!--===================================================  --> */
    /* <!-- Latest Blogs start --> */

    /* <!-- Latest Blogs end--> */
/* <!--===================================================  --> */
    /* <!-- Testimonials Look start --> */

    /* <!-- Testimonials Look end --> */
/* <!--====================================================  --> */
    /* <!-- footer start Quvonch --> */
       
    /* <!-- footer end  --> */